body {
    background-image: url('img/bgd.jpg');
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #29ABE2;
}

h1 {
    color: #777;
    /* font-family: 'VNI-HLThuphap', Times, serif;
    font-size: 60px;
    font-family: 'Little Insect', Times, serif;
    font-family: 'Arvil', Times, serif; */
    font-family: 'Diner-Regular', Times, serif;
    font-size: 120px;
    font-weight: normal;
    text-align: center;
}

#title {
		opacity: 0.7;
    position: fixed;
    height: auto;
    width: 800px;
    color: #048184;
		text-shadow: 0px 4px 2px #fff;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -260px;
    z-index: 0;
}

#small {
    color: #666;
    font-family: 'Lane Humouresque', Times, serif;
    /* font-family: 'Infinity', Times, serif; */
    font-weight: normal;
    font-size: 14px;
    opacity: 0.7;
		position:absolute;
		bottom:5px;
		width: 100%;
    text-align: center;
}

#small > a {
    color: #333;
}

#small > a:hover {
    color: #29ABE2;
}

.input{
  background-image:url('img/bgd2.jpg');
  background-repeat:no-repeat;
  padding-left:20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 32px;
  width: 300px;
  align: left;
  font: 22px 'Aller Light';
  color: #333;
} 

.input:hover {
    color: #29ABE2;
}


@font-face {
    font-family: 'Lane Humouresque';
    src: url('font/Lane Humouresque.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aller Light';
    src: url('font/Aller_Lt.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Diner_Regular';
    src: url('font/Diner_Regular.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VNI-HLThuphap';
    src: url('font/VNIHLThuphap.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arvil';
    src: url('font/Arvil_Sans.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}