<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Who tweeted this?</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Check who tweeted the url you submit in your twitter timeline">
		<meta name="author" content="Aurelien Tabard">

		<!-- Le styles -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/stylesheet.css" rel="stylesheet">
		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>
		<link href="css/bootstrap-responsive.css" rel="stylesheet">

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		 <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="images/favicon.ico">

		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	</head>

	<body>
	<div class="container">
	<div class="row">
		<div class="span6 offset4">
			<h1>Who tweeted this ?</h1>
		</div>
	</div>
		
	<div class="row">
		<div class="span6 offset4">
		<form id="form" action="/" method="get">
			<div class="input-append">
				<input id="appendedPrependedInput" class="span4" type="urltweet" name="url" value="{{ link }}" size="16">
				<button value="who" class="btn" type="submit">Go!</button>
			</div>
	    </form>
		</div>
	</div>

	<div class="row">
		{% if logged %}
		<div class="span4 offset4">
			<p>
				Logged on twitter as: {{ info['screen_name'] }}
			</p>
		</div>
		<div id="logout">
			 <a href="/oauth/twitter/logout">logout</a>
		</div>
		{% else %}
		<div class="span6 offset4">
			<p>
				<a href="/oauth/twitter/login">Login via Twitter</a> to let us process your tweets.
			</p>
		</div>
		{% endif %}    
	</div>


	<div class="row">
		<div class="span4 offset4">
			<div id="progressbar"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="span6 offset4">
			<div id="feedback"></div>
			<a id="keeplooking" href="#">Keep looking!</a>
		</div>
	</div>



	</div>

	<div id="small">
	<p>design <a href="http://twitter.com/#!/evStyleDesign">@evstyledesign</a> &nbsp; 
		| &nbsp; code <a href="http://twitter.com/#!/aurelient">@aurelient</a> &nbsp; 
		| &nbsp; <a href="https://github.com/aurelient/whotweetedthis">fork me on github</a>
	</p>
	</div>

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js/jquery-1.7.1.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
		
		
		<script>
		{% if logged %}
			var twitter_username = "{{info['screen_name']}}";

			{% if link %}
			var found = false;
			var maxPage = 5;
			var page = 1;
			var progress = 0;
			var timeout = 1000;

			$(document).ready(function() {
				checkLink("{{link}}"); 
				$("#progressbar").progressbar({ value: 0 });
				$("#keeplooking").click(function () {
					maxPage += 10;
					timeout = 250;
					checkLink("{{link}}");
				    $("#progressbar").progressbar( "option", "value", 100 * progress / maxPage );
					$("#feedback").html("<p>Digging deeper in your tweets</p>");
					$("#keeplooking").toggle();
				});
			});
			{% else %}
			{% endif %}   

			function checkLink(link) {
				console.log(page + " --- " + link);
				$.ajax({
				  type: "GET",
				  url: "link/"+encodeURIComponent(link)+"/?page="+page
				}).done(function( msg ) {
					message = jQuery.parseJSON(msg);
					progress++;
					console.log(message.url);
					if (message.url != "") {
						window.location.href = "https://twitter.com/#!/" + message.url;
					} 
					else {
					    $("#progressbar").progressbar( "option", "value", 100 * progress / maxPage );
						console.log("Not found on page " + message.page);
						if (progress == maxPage) {
							$("#feedback").html("<p>Checked your past " + 20*maxPage + " tweets without success :( </p>");
							$("#keeplooking").toggle();					      
						}
					}
				});
				if (page<maxPage) {
					var tps = (page-progress)*timeout;
					console.log(tps);
					setTimeout(function() { checkLink(link); }, tps);
				}
				page++;
			}
		{% else %}
		{% endif %}    
		</script>
		<!--script src="js/jquery.twitterbird.js"></script-->
	</body>
</html>
